<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>group</title>
  </head>
  <body>
    <form class="" action="/compose" method="post">
  <div class="form-group">
    <label for='title' placeholder="Let the world know it">Name</label>
    <input type="text" class="form-control" name='title' >
  </div>
  <div class="form-group">
    <label for='descrip'>Description</label>
    <input type="text" class="form-control" name='descrip' >
  </div>
  <div class="form-group">
    <label for='secert'>add your first secret</label>
    <input type="text" class="form-control" name='secret' >
  </div>

  <button class='btn btn-primary'type="submit" name="button">submit</button>
</form>


  </body>
</html>
