<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>group</title>
  </head>
  <body>
    <form class="" action="/submit" method="post">

  <div class="form-group">
    <input type="text" class="form-control" name='descrip' >
  </div>


  <div class="form-group">
    <label for="">Group Id</label>
    <input type="text" class="form-control" name='gid'value="" >
  </div>

  <button class='btn btn-primary'type="submit" name="button">submit</button>
</form>


  </body>
</html>
